<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="hk2_options_tab" sortOrder="60" translate="label">
            <label>HK2</label>
        </tab>
        <section id="hk2_multianalytics_section1" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="2" translate="label">
            <label><![CDATA[MultiAnalytics]]></label>
            <tab>hk2_options_tab</tab>
            <resource>HK2_Analytics::config</resource>

            <!-- Group 1 Settings -->
            <group id="hk2_multianalytics_section1_group1" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="1" translate="label">
                <label><![CDATA[MultiAnalytics_GeneralOptions]]></label>

                <field id="hk2_analytics_enable" showInDefault="1" showInWebsite="0" showInStore="0" type="select" sortOrder="0" translate="label">
                    <label><![CDATA[MultiAnalytics_Enable]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[MultiAnalytics_Enable_Help_Message]]>
                    </comment>
                </field>

                <field id="hk2_analytics_debug" showInDefault="1" showInWebsite="0" showInStore="0" type="select" sortOrder="0" translate="label">
                    <label><![CDATA[MultiAnalytics_EnableDebugMode]]></label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[MultiAnalytics_Debug_Help_Message]]>
                    </comment>
                </field>
            </group>

            <!-- Group 2 Settings -->
            <group id="hk2_multianalytics_section1_group2" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="2" translate="label">
                <label><![CDATA[MultiAnalytics_Google_Tag_Options]]></label>
                <field id="hk2_analytics_gtag_id" showInDefault="1" showInWebsite="0" showInStore="0" type="text" sortOrder="0" translate="label">
                    <label><![CDATA[MultiAnalytics_Google_Tag_ID]]></label>
                    <comment>
                        <![CDATA[MultiAnalytics_Google_Tag_ID_Help_Message]]>
                    </comment>
                </field>
                <field id="hk2_analytics_gtag_manager_id" showInDefault="1" showInWebsite="0" showInStore="0" type="text" sortOrder="0" translate="label">
                    <label><![CDATA[MultiAnalytics_Google_Tag_Manager_ID]]></label>
                    <comment>
                        <![CDATA[MultiAnalytics_Google_Tag_Manager_ID_Help_Message]]>
                    </comment>
                </field>
                <field id="hk2_analytics_gtag_data_layer_id" showInDefault="1" showInWebsite="0" showInStore="0" type="text" sortOrder="0" translate="label">
                    <label><![CDATA[MultiAnalytics_Google_Data_Layer_ID]]></label>
                    <comment>
                        <![CDATA[MultiAnalytics_Google_Data_Layer_ID_Help_Message]]>
                    </comment>
                </field>
            </group>

            <!-- Group 3 Settings -->
            <group id="hk2_multianalytics_section1_group3" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="3" translate="label">
                <label><![CDATA[Facebook Options]]></label>

                <field id="hk2_analytics_fb_domain_veri_code" showInDefault="1" showInWebsite="0" showInStore="0" type="textarea" sortOrder="0" translate="label">
                    <label><![CDATA[MultiAnalytics_Facebook_Domain_Verification_Code]]></label>
                    <comment>
                        <![CDATA[MultiAnalytics_Facebook_Domain_Verification_Code_Help_Message]]>
                    </comment>
                </field>

                <field id="hk2_analytics_fb_pixel_code" showInDefault="1" showInWebsite="0" showInStore="0" type="textarea" sortOrder="0" translate="label">
                    <label><![CDATA[MultiAnalytics_Facebook_Pixel_Code]]></label>
                    <comment>
                        <![CDATA[<a href="https://developers.facebook.com/docs/meta-pixel/get-started/#base-code" target="_blank">https://developers.facebook.com/docs/meta-pixel/get-started/#base-code</a>]]>
                    </comment>
                </field>
            </group>

            <!-- Group 4 Settings -->
            <group id="hk2_multianalytics_section1_group4" showInDefault="1" showInWebsite="0" showInStore="0" sortOrder="2" translate="label">
                <label><![CDATA[MultiAnalytics_Google_Product_Feed_Link]]></label>

                <field id="hk2_analytics_rsslink" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label><![CDATA[MultiAnalytics_RSS20Link]]></label>
                    <comment>
                        <model>HK2\MultiAnalytics\Model\Config\RSSLink</model>
                    </comment>
                </field>

                <field id="hk2_analytics_manualgeneratebutton" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label><![CDATA[MultiAnalytics_Generate_RSS_Feed]]></label>
                    <comment>
                        <model>HK2\MultiAnalytics\Model\Config\ManualGenerate</model>
                    </comment>
                </field>

                <field id="hk2_analytics_submitfeed" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label><![CDATA[MultiAnalytics_Google_Submit_Feed]]></label>
                    <comment>
                        <![CDATA[<a href="https://support.google.com/merchants/topic/3404780?hl=en&ref_topic=7294771&sjid=1803402611108980180-AP" target="_blank">https://support.google.com/merchants/topic/3404780?hl=en&ref_topic=7294771&sjid=1803402611108980180-AP</a>]]>
                    </comment>

                </field>

            </group>

        </section>
    </system>
</config>
